@{
    ViewData["Title"] = "Burial Data";
}

<h1>Show Data</h1>
@{
    ViewBag.Title = "Data";
}



<h2>Data</h2>

<div>
    <form method="post" asp-action="GeneratePrediction">
        <button type="submit" class="btn btn-primary">New Prediction</button>
    </form>

</div>

<!--C:\Users\19139\source\repos\Intex2\decision_tree_classifier.pkl-->
