@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <div class="container banner-container">
            <br /><br /><br /><br /><br />
        </div>
        <h1>Fag el-Gamous</h1>
        <p>The Way of the Water Buffalo</p>
        <br /><br />
        <h3>
            <u>Our Purpose:</u>
        </h3>
        <br />
        <br />
    </div>
    <div class="row text-center">
        <div class="col-4 column">
            <p>
                Better organize data from the burial sites for ease-of-use by both researchers
                and also others interested.
            </p>
        </div>
        <div class="col-4 column">
            <p>
                Create a straight-forward filters to compare similar discoveries.
            </p>
        </div>
        <div class="col-4 column">
            <p>
                Build a model to help researchers accurately predict the head direction of a burial given the
                data that they have acquired.
            </p>
        </div>
    </div>
    <br />
    <div class="text-center">
        <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="GetTestDisplayBurials">Burial List</a>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-6">
            <img src="~/img/digging.jpg" width="500" />
        </div>
        <div class="col-6">
            <img src="~/img/burial.jpg" width="500" />
        </div>
    </div>
</body>
