@{
    ViewData["Title"] = "Unsupervised Data";
}
<h1 class="text-center">Unsupervised Model</h1>
<br />
<h4 class="text-center">
    Pictured below are stills from our unsupervised model. We ran a cluster algorithm on the main table from the burial database.
    We then conducted exploratory research on the data. The data that we honed in was the relationship shown between "Age at Death","Depth(of burial)", and "Length(of remains)".
</h4>
<br />
<h2 class="text-center">Data Visualization</h2>
<p class="text-center">Pink data points are in cluster one, and blue are in cluster two</p>
<br />
<p class="font-italic">Front View</p>
<img src="~/img/image.png" />
<br />
<p class="font-italic">Side View</p>
<img src="~/img/image (1).png" />