/*Navbar*/
.navbar {
    background-color: blanchedalmond;
}

/*For Banner Image*/
.banner-container {
    background-image: url('../img/banner.jpg');
    background-size:cover;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    height:auto;
}

/*Style*/
.row {
    display: flex;
}

.row > div:not(:first-child) {
    border-left: 1px solid #ccc;
}